<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Properties.Settings>
            <setting name="ResultFile" serializeAs="String">
                <value>SyncResults_pm.dat</value>
            </setting>
            <setting name="Use_Pacemakers" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="Runs" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Nodes" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Edges" serializeAs="String">
                <value>4000</value>
            </setting>
			<setting name="Clusters" serializeAs="String">
                <value>20</value>
            </setting>            
            <setting name="Modularity_Step" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="Weight_From" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Weight_To" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Weight_Step" serializeAs="String">
                <value>1</value>
            </setting>
        </Properties.Settings>
    </applicationSettings>
</configuration>