<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClusterSIR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClusterSIR.Properties.Settings>
            <setting name="runs" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Nodes" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Edges" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Clusters" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Modularity_From" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Modularity_To" serializeAs="String">
                <value>0.95</value>
            </setting>
            <setting name="Modularity_Step" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="ResultFile" serializeAs="String">
                <value>result.dat</value>
            </setting>
            <setting name="bias_from" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bias_to" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bias_step" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="k" serializeAs="String">
                <value>2</value>
            </setting>
        </ClusterSIR.Properties.Settings>
    </applicationSettings>
</configuration>